<body class="container">
    <h1>desiring<span class="red">God</span> Articles</h3>
        <div>
            <button>NEW ARTICLES</button><button>SAVED ARTICLES</button>
        </div>
        <hr>
        <div class="card-list">
            {{#each articles}}
            <button class="card">
                <a href={{link}} target="_blank">{{title}}</a>
            </button>
          {{/each}}

        </div>