<title>Saved Article</title>
</head>
{{!-- <body class="container">
    <h1>desiring<span class="red">God</span> Saved Articles</h3>
        <div>
            <button>NEW ARTICLES</button><button>SAVED ARTICLES</button>
        </div>
        <hr>
        <div class="card-list">
            {{#each savedArticles}}
            <button class="card">
                <a href={{link}} target="_blank">{{title}}</a>
            </button>
          {{/each}}

        </div> --}}

        <h1>HEY THERE!</h1>