* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    font-size: 3em;
    font-weight: 100;
    font-family: sans-serif;
    margin-top: 45px;
    margin-bottom: 20px;
}

.red {
    color: red;
}

button {
    background: #333;
    color: #fff;
    padding: 20px;
    margin: 20px;
    font-size: 1em;
    margin-top: 20px;
    border-radius: 5px;
    width: 175px;
}

.saved {
    border: 3px solid #fff;
    color: #fff;
    background: red;
    border-radius: 5px;
    width: 75px;
    padding: 10px 20px;
    margin-top: 10px;
}

.notSaved {
    border: 3px solid #fff;
    color: #fff;
    border-radius: 5px;
    width: 75px;
    padding: 10px 20px;
    margin-top: 10px;
}

hr {
    width: 80%;
    margin: 0 auto;
}

.card-list {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    margin-bottom: 70px;
}

.card {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: #333;
    color: #fff;
    width: 60%;
    font-size: 1.3rem;
    font-family: sans-serif;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 3px 4px 3px 0 #999;
}

a {
    font-weight: 200;
    padding: 20px 10px;
    color: white;
    text-decoration: none;
}

.saveArticle {
    border: solid white 1px;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.container {
    text-align: center;
    align-content: center;
}

